---
---

@import "{{ site.theme }}";

h3 {
	font-size: 30px;
	line-height: 26px;
}
 
ul.post-list {
	list-style: none;
	margin-top: 2em;
	padding:0px;
}

li.post-list-element {
	list-style: none;
	margin-top: 3em;
	border-top: 1px solid white;
	padding-top: 1em;
}

#title {
	margin: 4px 0 0 4px;
	line-height: 10px;
	display: block;
}

#title h1 {
	margin: 0 0 0 10px;
	line-height: 1;
}

#description {
	margin-left:2em;
}

.wrapper {
	max-width: 800px;
}

section {
	max-width: 800px;
}

.post-meta {
	color: #777777;
	display: block;
	text-align: right;
	margin-top:-0.3em;
}

.post-content-truncate h1 {
	font-size: 33.75px;
	color: #333;
}

.post-content-truncate h2 {
	font-size: 26.25px;
	color: #333;
}

.post-content-truncate h3 {
	font-size: 18.75px;
	color: #333;
}

.post-content-truncate img {
	max-width: 400px;
}

.post-content-truncate h2 {
	font-size: 22px;
	color: #aaaaaa;
}

ul {
	list-style: circle;
	margin: 0 0 12px;
}

p {
	margin: 0 0 12px;
}

blockquote {
	margin-left: 2em;
	color: #aaaaaa;
	padding: 0 0 0 10px;
}

@media print, screen and (max-width: 480px) {
  #header {
    margin-top: 0px;
  }
}


#social-links {
	margin: 4px 0 0 4px;
	line-height: 10px;
	display: block;
	float:right;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

/**
 * Pagination navbar
 */
.social-media-list{
	margin: -35px 20px auto auto;
	display: table;
  	list-style: none;
  li {
  	float: left;
    margin: 5px 10px 5px 0;
    width: 20px;
    &:last-of-type { margin-right: 0 }
	width: 25px;
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
      display: block;
    }
    div {
      display: block;
      border: 1px solid transparent;

      &.pager-edge {
        color: white;
        border: 1px dashed;
      }
    }
  }
}
