---
---

@import "{{ site.theme }}";

h3 {
	font-size: 30px;
	line-height: 26px;
}
 
ul.post-list {
	list-style: none;
	margin-top: 2em;
	padding:0px;
}

li.post-list-element {
	list-style: none;
	margin-top: 3em;
	border-top: 1px solid white;
	padding-top: 1em;
}

#title {
	margin: 0.2em 0 0 0.2em;
	line-height: 10px;
}

#title h1 {
	margin: 0 0 0 10px;
	line-height: 1;
}

#header {
	padding-top: 2px;
}

#description {
	margin-left:2em;
}

.wrapper {
	max-width: 800px;
}

section {
	max-width: 800px;
}

.post-meta {
	color: #777777;
	display: block;
	text-align: right;
	margin-top:-0.3em;
}

.post-content-truncate h1 {
	font-size: 33.75px;
	color: #333;
}

.post-content-truncate h2 {
	font-size: 26.25px;
	color: #333;
}

.post-content-truncate h3 {
	font-size: 18.75px;
	color: #333;
}

.post-content-truncate img {
	max-width: 400px;
}

.post-content-truncate h2 {
	font-size: 22px;
	color: #aaaaaa;
}

ul {
	list-style: circle;
	margin: 0 0 12px;
}

p {
	margin: 0 0 12px;
}

blockquote {
	margin-left: 2em;
	color: #aaaaaa;
	padding: 0 0 0 10px;
}

